<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上傳Upload</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'memes/css/upload.css' %}">
</head>
<body>

    <!--menu-->
    <div class="menu">
        <p class="menu_left">
            <a href="{% url 'main' %}">HOME</a>
            <a href="{% url 'memes' %}">MEME</a>
            <a href="{% url 'games' %}">GAME</a>
        </p>
        <p class="menu_right">
            <a id="id">{{ user.get_username }}</a>
        </p>
        <div id="profile_pic"><img src="{{request.user.member.profile_pic.url}}"></div>
        <ul class="menu_dropdown">
            <li><a href="{% url 'userinfo' %}">個人資料</a></li>
            <li><a href="#">blablabla</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">登出</a></li>
        </ul>
    </div>
    
<!--
    <div class="back">
        <a href="#">梗圖上傳</a>
    </div>
-->

    <main>
        <div class="upload">
            <div class="upload_box">
                {% block upload %}
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="upload_pic" id="upload_pic">
                        <label>
                        上傳圖片 {{ form.image }}
                        </label>
                        {% comment %} <img id="preview_progressbarTW_img" src="#" /> {% endcomment %}
                    </div>
                    <div class="data">
                        <div class="group">
                            <label for="name" class="label">梗圖名字：</label>
                            {% comment %} <input id="name" type="text" class="input"> {% endcomment %}
                            {{ form.title }}
                        </div>
                        <div class="group">
                            {{ form.uploader.as_hidden }}
                            {% comment %} <input id="author" type="text" class="input" value="name" readonly="readonly"> {% endcomment %}
                        </div>
                        <div class="group">
                            <label for="content" class="label">簡介：</label>
                            {{ form.description }}
                            {% comment %} <textarea id="content" row="3" class="content"></textarea> {% endcomment %}
                        </div>

                        <p class="add_hashtag_text">加入HashTag</p>
                        <div id="hashtag_div">
                            
                            <label>
                                {% for tags in form.tags %}    
                                {{ tags }}
                                <span></span>
                                {% endfor %}
                            </label>
                            
                        </div>

                        <p class="new_hashtag_text">
                            新增HashTag
                            <button class="new_hashtag_field" value="new_hashtag_field">+</button>
                        </p>
                        <div class="new_hashtag">
                            <label for="new_hashtag">#</label>
                            
                            <input id="new_hashtag" type="text" class="input_hashtag">
                        </div>

                        <div class="submit">
                            <input id="submit_button" type="submit" value="繳交">
                        </div>
                    </div>
                </form>
                {% endblock %}
            
            </div>
        </div>
    </main>

    <script type="text/javascript">
        var x=new FileReader;
        document.forms[0].elements[1].onchange=function(){
        x.readAsDataURL(this.files[0]);
        }
        x.onloadend=function(){
        var elem = document.createElement("img");
        elem.setAttribute("src", this.result);
        elem.setAttribute("id", "subImg");
        if (document.contains(document.getElementById("subImg"))) {
            document.getElementById("subImg").remove();
        }
        document.getElementById("upload_pic").appendChild(elem);
        }
    </script>
    <!--upload-->
    
    <!--
    <div class="title">
    </div>
    <div class="name">
        
        
    </div>
    <div class="picture">
        <img src="https://fakeimg.pl/400x400/"><br><br>
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile">
    </div>
    <div class="text">
        <table>
            <tr>
                <th>
                    <h2>梗圖name:</h2>
                </th>
                <th>
                    <input id="picName">
                </th>
            </tr>
            <tr>
                <th>
                    <h2>上傳者:</h2>
                </th>
                <th>
                    <input id="picUploader">
                </th>
            </tr>
            <tr>
                <th>
                    <h2>內容:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <input id="picDiscription">
                </th>
            </tr>
            <tr>
                <th>
                    <p class="hashtag">標籤</p>
                </th>
            </tr>
            <tr>
                <th>
                    <button class="button">上傳</button>
                </th>
            </tr>
        </table>
        
    </div>
    
    .name{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.picture{ /*垂直致中*/
    width: 50%;
    height: 80%;
    margin: auto;
    text-align: center;   
    position: fixed;
    left: 0;
}


.text{
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 50px;
    float: right;
}

.button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
    -->

</body>
</html>
