* {
    margin: 0;
    padding: 0;
  }
  
  a{
      color: black;
      text-decoration: none;
      text-align: center;
      float: right;
      padding: 5px;
      width: 60px;
  }


 .title-box{
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 70px;
    left: 65px;
    padding: 5px;
    z-index: 2;
    background-color: #000;
    box-shadow: 2px 2px 4px rgb(0 0 0/40%);
 }

  .title-box span{
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 5px;
  }


  .iae{
    font-family: "Microsoft JhengHei", sans-serif;
  }

  .name{
    font-family: "Microsoft JhengHei", sans-serif;
  }


  .title-box .iae:after{
      content: "";
      width: 200px;
      height: 1px;
      position: relative;
      display: inline-block;
      background-color: #fff;
      left: 11px;
      top: -4px;
      opacity: 0.7;
  }

  .load{
      animation: slide 2s;
  }

  .slider{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      animation: slide 30s infinite;
  }

  @keyframes slide {
      0%{
          background-image: url('https://img.ltn.com.tw/Upload/news/600/2019/12/30/phpZjAnmW.jpg');
          opacity: 0.5;
      }
      20%{
          background-image: url('https://img.ltn.com.tw/Upload/news/600/2019/12/30/phpZjAnmW.jpg');
          opacity: 0.5;
      }
      20.01%{
        background-image: url('https://fakeimg.pl/400x400/?text=Hello');
        opacity: 0.5;
    }
    40%{
        background-image: url('https://fakeimg.pl/400x400/?text=Hello');
        opacity: 0.5;
    }
    40.01%{
        background-image: url('https://fakeimg.pl/200x100/?retina=1&text=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&font=noto');
        opacity: 0.5;
    }
    60%{
        background-image: url('https://fakeimg.pl/200x100/?retina=1&text=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&font=noto');
        opacity: 0.5;
    }
    60.01%{
        background-image: url('https://fakeimg.pl/350x200/?text=World&font=lobster');
        opacity: 0.5;
    }
    80%{
        background-image: url('https://fakeimg.pl/350x200/?text=World&font=lobster');
        opacity: 0.5;
    }
    80.01%{
        background-image: url('https://fakeimg.pl/350x200/ff0000%2C128/000%2C255/');
        opacity: 0.5;
    }
    100%{
        background-image: url('https://fakeimg.pl/350x200/ff0000%2C128/000%2C255/');
        opacity: 0.5;
    }
  }

  .picture{
    background-color: transparent;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 250px;
    left: 25%;
    z-index: 2;
  }

  .game{
    background-color: transparent;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 250px;
    left: 60%;
    z-index: 2;
  }

  .line{
      border-left: 3px solid black;
      height: 400px;
      position: fixed;
      left: 50%;
      bottom: 100px;
  }