* {
    margin: 0;
    padding: 0;
  }

  @keyframes click_button_1{
    from {background-color: #dddddd;}
    to {background-color: #ebebeb;}
}
@keyframes click_button_2{
    from {background-color: #dddddd;}
    to {background-color: #F5F5F5;}
}

.menu{
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0px;
    left: 0px;
    z-index: 999;

    background-color: rgba(0,0,0,0);
}

.menu a{
    display: inline;
    padding: 17px 20px;
    height: 25px;
    text-decoration: none;
}

.menu_left{
    position: fixed;
    float: left;
    left: 25px;
    cursor: pointer;
    
    text-align: center;
}
.menu_left a{
    font: small-caps bold 17px sans-serif;
    color: #ffffff;
}
.menu_left a:hover {
    background-color: #ebebeb;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_left a:active{
    animation-name: click_button_1;
    animation-duration: 1s;
}

.menu_right{
    position: fixed;
    float: right;
    top: 3px;
    right: 120px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
#id{
    color: white;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.95;
}

.menu img{
    position: fixed;
    top: 13px;
    right: 40px;
    width: 27px;
    cursor: pointer;
}

.menu_dropdown{
    position: fixed;
    top: 36px;
    right: 5px;

    list-style-type: none;
}
.menu_dropdown a{
    display: none;
    width: 120px;
    height: 25px;

    font: small-caps, Arial, Helvetica bold 17px sans-serif;
    color: #ffffff;
    background-color: #3B3E4F;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.menu_dropdown a:hover {
    display: inline-block;
    background-color: #F5F5F5;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_dropdown a:active{
    animation-name: click_button_2;
    animation-duration: 1s;
}

#profile_pic{
    position: fixed;
    top: 0px;
    right: 30px;
    width: 47px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

}
#profile_pic:hover + ul>li>a{
    display: inline-block;
}
.menu_dropdown:hover >li>a:not(:hover){
    display: inline-block;
}
  
  a{
      color: black;
      text-decoration: none;
      text-align: center;
      float: right;
      padding: 5px;
      width: 60px;
  }


 .title-box{
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 70px;
    left: 65px;
    padding: 5px;
    z-index: 2;
    background-color: #000;
    box-shadow: 2px 2px 4px rgb(0 0 0/40%);
 }

  .title-box span{
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 5px;
  }


  .iae{
    font-family: "Microsoft JhengHei", sans-serif;
  }

  .name{
    font-family: "Microsoft JhengHei", sans-serif;
  }


  .title-box .iae:after{
      content: "";
      width: 200px;
      height: 1px;
      position: relative;
      display: inline-block;
      background-color: #fff;
      left: 11px;
      top: -4px;
      opacity: 0.7;
  }