body{
    background-color: #ffffff;
}

/* menu */
@keyframes click_button_1{
    from {background-color: #dddddd;}
    to {background-color: #ebebeb;}
}
@keyframes click_button_2{
    from {background-color: #dddddd;}
    to {background-color: #F5F5F5;}
}

.menu{
    position: fixed;
    width: 100%;
    height: 52px;
    top: 0px;
    left: 0px;
    z-index: 999;

    background-color: #282a35;
    box-shadow: 0px 2px 5px gray;
}

.menu a{
    display: inline;
    padding: 17px 20px;
    height: 52px;
    text-decoration: none;
}

.menu_left{
    position: fixed;
    float: left;
    left: 25px;
    cursor: pointer;
    
    text-align: center;
}
.menu_left a{
    font: small-caps bold 17px sans-serif;
    color: #ffffff;
}
.menu_left a:hover {
    background-color: #ebebeb;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_left a:active{
    animation-name: click_button_1;
    animation-duration: 1s;
}

.menu_right{
    position: fixed;
    float: right;
    top: 3px;
    right: 70px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.menu img{
    position: fixed;
    top: 13px;
    right: 40px;
    width: 27px;
    cursor: pointer;
}

.menu_dropdown{
    position: fixed;
    top: 36px;
    right: 5px;

    list-style-type: none;
}
.menu_dropdown a{
    display: none;
    width: 120px;
    height: 25px;

    font: small-caps, Arial, Helvetica bold 17px sans-serif;
    color: #ffffff;
    background-color: #3B3E4F;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.menu_dropdown a:hover {
    display: inline-block;
    background-color: #F5F5F5;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_dropdown a:active{
    animation-name: click_button_2;
    animation-duration: 1s;
}

#profile_pic{
    position: fixed;
    top: 0px;
    right: 30px;
    width: 47px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

}
#profile_pic:hover + ul>li>a{
    display: inline-block;
}
.menu_dropdown:hover >li>a:not(:hover){
    display: inline-block;
}


/* 標題 */
.title{
    position: fixed;
    top: 50px;
    left: 50px;
    width: 77%;
    border-bottom: 4px #282a35 solid;
    padding-left: 25px;
    z-index: 888;
    
    font-size: 20px;
    font-weight: bold;
}

/* search *//* 參考：https://codepen.io/takaneichinose/pen/gKVXXL */
.search div{
    position: absolute;
    top: 80px;
    right: 30px;
}

.search div:after {
    content: "";
    background: #000000;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 30px;
    right: 0px;
    transform: rotate(135deg);
}

.search input {
    color: #000000;
    font-size: 16px;
    background: transparent;
    width: 10px;
    height: 10px;
    padding: 10px;
    border: solid 3px #000000;
    outline: none;
    border-radius: 30px;
    transition: width 0.5s;
}

.search input::placeholder {
    color: #000000;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search input:focus::placeholder {
    opacity: 1;
}

.search input:focus, .search input:not(:placeholder-shown) {
    width: 250px;
}

/* hashtag */
.hashtag{
    position: fixed;
    top: 195px;
    left: 90px;
    width: 72%;
    z-index: 888;
    
    overflow-x: auto;
    white-space: nowrap;
    overflow: -moz-scrollbars-none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

.hashtag label{
    cursor: pointer;
}
.hashtag input[type="checkbox"]{
    display: none;
}
.hashtag span{
    display: inline-block;
    padding: 2px 10px 2px 10px;
    margin: 3px 1px 3px 1px;
  
    color: #3366BB;
    border: #666666 1px solid;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}
.hashtag span::before{
    content: '# ';
    color: transparent;
    -webkit-text-stroke: 0.5px #3366BB;
}
.hashtag input[type="checkbox"]:checked + span{
    border: #7194FF 1px solid;
    background-color: #7194FF;
    color: #ffffff;
}
.hashtag input[type="checkbox"]:checked + span::before{
    -webkit-text-stroke: 0.5px #ffffff;
}
  
  

/* 介紹 */
.introduce{
    position: fixed;
    top: 180px;
    right: 20px;
    width: 13%;

    text-align: left;
    color: #A6A6A6;
    line-height: 1.5em;
}

.upload_button button{
    position: fixed;
    bottom: 30px;
    right: 10px;

    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);

    color: #828284;
    font-size: 20px;
    font-weight: bold;
}
.upload_button button:hover{
    background-color: #545454;
    color: #ffffff;
}