*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

.above{
    text-align: right;
    color: #555555;
    height: 100px;
}

.name{
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}

.picture{ /*垂直致中*/
    width: 50%;
    height: 80%;
    margin: auto;
    text-align: center;   
    position: fixed;
    left: 0;
}


.text{
    width: 50%;
    margin: auto;
    text-align: left;
    float: right;
}

