*{
    font-family: Century Gothic;
}

@keyframes oxxo{
    from{
        height:0%;
    }
    to{
        height:80%;
    }
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background: white;
    z-index: -1;
} 

section{
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.backdrop img{
    width:100%;
    height:80%;
    object-fit: cover;
    position: absolute;
    top:80px;
    opacity: 0.7;
}

.backdrop{
    width:90%;
    height:95%;
    opacity: 0.4;
    animation-name:oxxo;
    animation-duration:2s;
    background-position: center;
    position: relative;
}

.title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

h1{
    font-size: 58px;
}

.button{
    position: absolute;
    top:63%;
    left:50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1.5px solid black;
    text-align:center;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    margin-left: 12px;
    border-radius: 25px;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}

.contact{
    width: 200px;
    text-align: center;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);  /* 以中心點為對準點 */
    opacity: 0.49;
    margin-left:160px;
}

.contact img{
    height:22px;
}

.contact::after{
    content:"";
    width:150px;
    height:1px;
    background:black;
    position: absolute;
    left:-100px;
    top:10px
} 

/* .btn:hover{
    background-color:rgba(255,255,255,0.4);
    color:black;
} */

span{
    background: #009688;
    height:100%;
    width:0;
    border-radius: 25px;
    left:0;
    bottom:0;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

.btn:hover span{
    width:100%;
}

.btn:hover{
    border: none;
}
/* body{
	font: 600 16px/18px 'Open Sans',sans-serif;
} */

  @keyframes click_button_1{
    from {background-color: #dddddd;}
    to {background-color: #ebebeb;}
}
@keyframes click_button_2{
    from {background-color: #dddddd;}
    to {background-color: #F5F5F5;}
}

.menu{
    position: fixed;
    width: 100%;
    height: 22px;
    top: 16px;
    left: 0px;
    z-index: 999;

    background-color: rgba(0,0,0,0);
}

.menu a{
    display: inline;
    padding: 17px 20px;
    height: 25px;
    text-decoration: none;
}

.menu_left{
    position: fixed;
    float: left;
    left: 25px;
    cursor: pointer;
    
    text-align: center;
}
.menu_left a{
    font: small-caps bold 17px sans-serif;
    color: #ffffff;
}
.menu_left a:hover {
    background-color: #ebebeb;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_left a:active{
    animation-name: click_button_1;
    animation-duration: 1s;
}

.menu_right{
    position: fixed;
    float: right;
    top: 18px;
    right: 70px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
#id{
    color: #ffffff;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.95;
}

.menu img{
    position: fixed;
    top: 13px;
    right: 40px;
    width: 27px;
    cursor: pointer;
}

.menu_dropdown{
    position: fixed;
    top: 36px;
    right: 5px;

    list-style-type: none;
}
.menu_dropdown a{
    display: none;
    width: 120px;
    height: 25px;

    font: small-caps, Arial, Helvetica bold 17px sans-serif;
    color: #ffffff;
    background-color: #3B3E4F;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.menu_dropdown a:hover {
    display: inline-block;
    background-color: #F5F5F5;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_dropdown a:active{
    animation-name: click_button_2;
    animation-duration: 1s;
}

#profile_pic{
    position: fixed;
    top: 0px;
    right: 30px;
    width: 47px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

}
#profile_pic:hover + ul>li>a{
    display: inline-block;
}
.menu_dropdown:hover >li>a:not(:hover){
    display: inline-block;
}
  
  /* a{
      color: black;
      text-decoration: none;
      text-align: center;
      float: right;
      padding: 5px;
      width: 60px;
  } */


 .title-box{
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 70px;
    left: 65px;
    padding: 5px;
    z-index: 2;
    background-color: #000;
    box-shadow: 2px 2px 4px rgb(0 0 0/40%);
 }

  .title-box span{
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
    padding: 0px 5px 0px 5px;
  }


  .iae{
    font-family: "Microsoft JhengHei", sans-serif;
  }

  .name{
    font-family: "Microsoft JhengHei", sans-serif;
  }


  .title-box .iae:after{
      content: "";
      width: 200px;
      height: 1px;
      position: relative;
      display: inline-block;
      background-color: #fff;
      left: 11px;
      top: -4px;
      opacity: 0.7;
  }


  @keyframes click_button_1{
    from {background-color: #dddddd;}
    to {background-color: #ebebeb;}
}
@keyframes click_button_2{
    from {background-color: #dddddd;}
    to {background-color: #F5F5F5;}
}

.menu{
    position: fixed;
    width: 100%;
    height: 52px;
    top: 0px;
    left: 0px;
    z-index: 999;

    background-color: #282a35;
    box-shadow: 0px 2px 5px gray;
}

.menu a{
    display: inline;
    padding: 17px 20px;
    height: 52px;
    text-decoration: none;
}

.menu_left{
    position: fixed;
    float: left;
    left: 25px;
    cursor: pointer;
    
    text-align: center;
}
.menu_left a{
    font: small-caps bold 17px sans-serif;
    color: #ffffff;
}
.menu_left a:hover {
    background-color: #ebebeb;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_left a:active{
    animation-name: click_button_1;
    animation-duration: 1s;
}

.menu_right{
    position: fixed;
    float: right;
    top: 3px;
    right: 70px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.menu img{
    position: fixed;
    top: 13px;
    right: 40px;
    width: 27px;
    cursor: pointer;
}

.menu_dropdown{
    position: fixed;
    top: 36px;
    right: 5px;

    list-style-type: none;
}
.menu_dropdown a{
    display: none;
    width: 120px;
    height: 25px;

    font: small-caps, Arial, Helvetica bold 17px sans-serif;
    color: #ffffff;
    background-color: #3B3E4F;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.menu_dropdown a:hover {
    display: inline-block;
    background-color: #F5F5F5;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_dropdown a:active{
    animation-name: click_button_2;
    animation-duration: 1s;
}

#profile_pic{
    position: fixed;
    top: 0px;
    right: 30px;
    width: 47px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

}
#profile_pic:hover + ul>li>a{
    display: inline-block;
}
.menu_dropdown:hover >li>a:not(:hover){
    display: inline-block;
}