<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>梗圖-詳細資料</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/picture.css' %}">
</head>
<body>
    <div class="above">
        <p>123</p>
    </div>
    <div class="name">
        <h2>梗圖name</h2>
    </div>
    <div class="picture">
        <img src="https://fakeimg.pl/400x400/">
    </div>
    <div class="text">
        <h2>上傳者:</h2>
        <h3 class="inform">圖片描述:</h3>
        <p class="hashtag">標籤，但我猜之後應該要用Django設定</p>
        <div class="comment">
            <h2>留言</h2>
            <p>要用Django設定</p>
        </div>
    </div>
    
    
</body>
</html>

