<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=candara">
</head>
<body>
    <!-- Navbar -->
    <div class="menu">
        <p class="menu_left">
            <a href="{% url 'games'%}">GAME</a>
            <a href="{% url 'memes'%}">MEME</a>
            <a href="{% url 'main'%}">HOME</a>
        </p>
        <p class="menu_right">
            {% if not user.is_authenticated %}
            <a href="{% url 'login'%}?next={{request.path}}" id="name">Login</a>
            {% else %}
            <a id="name">{{ user.get_username }}</a>
        </p>

        <div id="profile_pic"><img src="{{request.user.personalinformation.profile_pic.url}}"></div>
        <ul class="menu_dropdown">
            <li><a href="{% url 'userinfo' %}">個人資料</a></li>
            <li><a href="#">blablabla</a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">登出</a></li>
        </ul>
        {% endif %}
    </div>
    <!-- Navbar -->

    <video id="background-video" autoplay loop muted poster="{% static 'img/vid.jpg' %}">
        <source src="{% static 'vid/vid.mp4' %}" type="video/mp4">
    </video>
    
    <script>
        var v = document.getElementById("background-video");
        v.playbackRate = 0.69;
    </script>

    <div class="title-box">
        <span class="iae">IAE2</span>
        <span class="name">職場實務 :)</span>
    </div>

</body>
</html>