body{
    background-color: #ffffff;
}


/* navbar */
#profile_pic{
	height: 40px; 
	border-radius: 100%;
}
@media screen and (max-width: 991px){
	#profile_pic{
		display: none;
	}
}


/* 回到上一頁 */
.back{
  position: absolute;
  top: 70px;
  left: 23px;
}
.back a{
  color: #000000;
  font: 600 18px 'Open Sans', sans-serif;
  text-decoration: none;
}
.back a::before{
  content: '<  ';
}

/* upload */
.Container{
  position: relative;
  top: 60px;
}
form{
  width: 100%;
}

@keyframes upload_button{
  from{background-color: #666666;}
  to{background-color: #878787;}
}
.upload_pic{
  position: relative;
  margin-top: 300px;
  float: left;
}

.pic{ 
  width: 400px;
  min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: #545454 2.5px dashed;
  border-radius: 40px;
  background-color: #dddddd;
}
#subimg{
  position: absolute;
  display: block;
  width: 350px;
}
.pic label{
  display: inline-block;
  position: absolute;
  margin: auto;
  padding: 15px 25px 15px 25px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #6666669f;
  font-size: 16px;
  cursor: pointer;
}
.pic label:hover{
  background-color: #878787;
}
.pic label:active{
  animation-name: upload_button;
  animation-duration: 0.5s;
}
.pic input{
  display: none;
}


.data{
  width: 400px;
  position: relative;
  top: 60px;
  float: right;
}

.group{
  position: relative;
}
.group label{
  font: 600 18px 'Open Sans', sans-serif;
}
.group input, .group textarea{
	display: block;
  width: 400px;
  margin: 5px 0px 20px 10px;
	padding: 15px 20px;	
  border: none;
	border-radius: 10px;
	background-color: #ededed;
}
.group textarea{
  resize: none;
}
#author ::placeholder{
  color: #000000;
}

.hashtag{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  position: relative;
  margin: 5px 0px 20px 10px;
}
.add_hashtag_text{
  margin-bottom: 0px;
  font: 600 18px 'Open Sans', sans-serif;
}

.hashtag label{
  cursor: pointer;
}
.hashtag input[type="checkbox"]{
  display: none;
}
.hashtag span{
  display: inline-block;
  padding: 2px 10px 2px 10px;
  margin: 3px 1px 3px 1px;

  color: #3366BB;
  border: #666666 1px solid;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}
.hashtag span::before{
  content: '# ';
  color: transparent;
  -webkit-text-stroke: 0.5px #3366BB;
}
.hashtag input[type="checkbox"]:checked + span{
  border: #7194FF 1px solid;
  background-color: #7194FF;
  color: #ffffff;
}
.hashtag input[type="checkbox"]:checked + span::before{
  -webkit-text-stroke: 0.5px #ffffff;
}

.new_hashtag_text{
  margin-bottom: 0px;
  font: 600 18px 'Open Sans', sans-serif;
}

.new_hashtag{
  display: block;
  margin-left: 0px;
}
.new_hashtag label{
  position: relative;
  left: 30px;
  color: transparent;
  -webkit-text-stroke: 0.5px #3366BB;
}
.new_hashtag input{
  display: inline-block;
  width: 355px;
  margin: 10px 0px 20px 0px;
	padding: 6px 20px 8px 32px;	
  border: #666666 1.5px solid;
	border-radius: 25px;
  color: #3366BB;
}
.new_hashtag_field{
  display: inline-block;
  position: relative;
  padding: 0px 10px 5px 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 15%;
  font-size: 25px;
  cursor: pointer;
}
.new_hashtag_field:hover{
  background-color: #f2f2f2;
}
@keyframes new_hashtag_field {
  from{background-color: #e3e3e3;}
  to{background-color: #ffffff;}
}
.new_hashtag_field:active{
  animation-name: new_hashtag_field;
  animation-duration: 1s;
}

.input, .content, .input_hashtag{
  font-size: 16px;
}


.submit{
  width: 0px;
  position: relative;
  left: 400px;
  margin: 15px 0px 10px 20px;
  z-index: 500;
}
.submit input{
  padding: 5px 35px;
  color: #ffffff;
  background-color: #545454;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 1px gray;
  font: 600 16px 'Open Sans', sans-serif;
  cursor: pointer;
}
.submit input:hover{
  background-color: #757575;
}
@keyframes submit_button{
  from{background-color: #545454;}
  to{background-color: #757575;}
}
.submit input:active{
  animation-name: submit_button;
  animation-duration: 0.5s;
  top: -47px;
  box-shadow: none;
  transition-duration: 0.05s;
}

@media (max-width: 1200px) and (min-width: 992px){
  .upload_pic{
    right: 27px;
  }
  .data{
    left: 27px;
  }
}


footer{
  margin-top: 200px;
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
}
.Footer{
  position: relative;
  top: 45px;
  height: 155px;
}
.Footer p{
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}
.footer-footer{
  position: relative;
  top: 50px;
}
.footer-footer a, 
.footer-footer a:hover{
  text-align: center;
  color: white;
  text-decoration: none;
}

@media screen and ( max-width: 991px ) {
  .upload_pic{
    margin-top: 270px;
  }
  .data{
    top: 250px;
  }
  .submit{
    left: 0px;
    margin-top: 50px;
  }
  footer{
    margin-top: 400px;
  }
}