body{
    overflow:hidden;
    margin: 0;
    padding: 0;
}

/* scrollbar */
main{
    position: absolute;
    top: 50px;
    width: 100vw;
    margin: 0;
    bottom: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* .menu{
    display: block;
    margin: 0 auto;
    text-align: center;
} */

/* .move{
    position: absolute;
    top: 60px;
    display: block;

    padding: -30;
    z-index: 888;
    height: 100000;
    width: 1000;
    overflow-y: scroll;

    scroll-behavior: smooth;

} */

/* ::-webkit-scrollbar {
    top: 10px;
} */

/* .button{
    text-decoration: none;
} */

.title{
    /* margin-top: 150; */
    /* top: 150; */
    /* padding: 2% 10% 2% 5%; */
    margin: 1.5% 5% 1.5% 5%;
    font-size: 11vmin;
    font-family: Arial, Helvetica, sans-serif;
}

#meme{
    height: 90%;
    width: auto;
    margin: 1%;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75%;
    width: 91%;
    height: 47%;
    background-color: #B4D9EF;
    cursor: pointer;
    position: relative;
}

#topic{
    font-size: 6.5vmin;
    position: absolute;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#info{
    font-size: 3.9vmin;
    position: absolute;
    top: 40%;
    font-family: Arial, Helvetica, sans-serif;
}