body{
    overflow:hidden;
    margin: 0;
    padding: 0;
}

/* scrollbar */
main{
    position: absolute;
    top: 50px;
    width: 100vw;
    margin: 0;
    bottom: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* .menu{
    display: block;
    margin: 0 auto;
    text-align: center;
} */

/* .move{
    position: absolute;
    top: 60px;
    display: block;

    padding: -30;
    z-index: 888;
    height: 100000;
    width: 1000;
    overflow-y: scroll;

    scroll-behavior: smooth;

} */

/* ::-webkit-scrollbar {
    top: 10px;
} */

.title{
    /* margin-top: 150; */
    /* top: 150; */
    padding: 5px 20px 10px 50px;
    font-size: 85px;
}

#meme{
    height: 220px;
    width: auto;
    margin: 15px;
}

.box{
    margin: 0px 50px 20px 50px;
    width: 1150px;
    height: 250px;
    background-color: aquamarine;
}

#box{
    position: relative;
}

#topic{
    font-size: 55px;
    position: absolute;
    top: 15px;
}

#info{
    font-size: 30px;
    position: absolute;
    top: 130px;
}