body{
    background-color: #ffffff;
}

.content{
    display: flex;
    justify-content: center;
}
.content_box{
    min-width: 1000px;
    height: 600px;
    position: relative;
    top: 70px;
    background-color: #ffffff;
}

.title{
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
    font: 600 30px 'Open Sans', sans-serif;
}
.title a{
    font-size: 15px;
}

.picture{ 
    width: 450px;
    height: 450px;
    position: relative;
    top: 85px;
    left: 0px;
    float: left;
}
.picture img{
    display: block;
    width: 450px;
    position: relative;
    top: 0px;
    margin: auto;
}

.text{
    display: block;
    width: 450px;
    position: relative;
    top: 85px;
    right: 0px;
    float: right;
}

.subtitle{
    font: 600 20px 'Open Sans', sans-serif;
}

#uploaded_by{
    text-decoration: none;
    color: #000000;
}
#uploaded_by::before{
    content: '@';
    color: #000000;
}

.inform{
    width: 300px;
    padding: 5px 0px 5px 5px;
    margin: -7px 0px -3px 15px;
    border-left: rgba(0, 0, 0, 0.5) 1px solid;
}

.hashtag{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    position: relative;
    margin: 10px 0px 20px 15px;
}
.hashtag span{
    display: inline-block;
    padding: 2px 10px 2px 10px;
    margin: 3px 0px 3px 0px;
  
    color: #3366BB;
    border: #666666 1px solid;
    border-radius: 20px;
  }
.hashtag span::before{
    content: '# ';
    color: transparent;
    -webkit-text-stroke: 0.5px #3366BB;
}

.comment{
    padding: 3px 0px 3px 5px;
    margin: 7px 0px 0px 15px;
    border-left: rgba(0, 0, 0, 0.5) 1px solid;
}
#first_comment{
    margin-top: -7px;
}