.pop{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;     /*scale從1變0時的動畫*/
    /* border: 1px solid black; */
    border-radius: 12px;
    z-index:10;
    background-color: white;
    width: 32%;
    max-width: 80%;
    max-height: 82%;    /* 超過此比例即用卷軸 */
    box-sizing: border-box;
    overflow-y: auto; 
}

.pop.active{
    transform: translate(-50%,-50%) scale(1);     /*將div置中，這裡的50%是div的長寬50%，而不是螢幕 */
}

.pop-header{
    margin-top: 2.4%;
    margin-right: 3%;
    margin-left: 93%;
    margin-bottom: -4%;
}

.pop-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: #545454;
    font-size: 1.25rem;
    font-weight: bold;
    color:white;
    border-radius: 15%;
}

.pop-body{
    padding: 0% 5% 5% 5%;
}

#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity:0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    pointer-events: none;   /*當overlay沒啟動，可以按東西 */
}

#overlay.active{
    pointer-events: all;
    z-index: 9;
    opacity: 1;
}

/* .check_button{
    background: none;
    border: none;
	cursor: pointer;
    border-radius: 10%;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: darkgrey;
    color:white;
}

#report_btn{
    
}

#submit_btn{
    
} */

.submit{
    position: relative;
    right: 0px;
    float: right;
    margin: 15px 0px 10px 20px;
    z-index: 8;
  }
  .submit button{
    padding: 3px 30px;
    color: #ffffff;
    background-color: #545454;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px gray;
    font: 600 20px 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .submit button#cancel_btn{
      margin-right: 20px;
  }

  .submit button:hover{
    background-color: #757575;
  }
  @keyframes submit_button{
    from{background-color: #545454;}
    to{background-color: #757575;}
  }
  .submit button:active{
    animation-name: submit_button;
    animation-duration: 0.5s;
    top: -47px;
    box-shadow: none;
    transition-duration: 0.05s;
  }