.pop{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;     /*scale從1變0時的動畫*/
    border-radius: 12px;
    z-index: 10000;
    background-color: white;
    max-width: 80%;
    width: 1000px;
    /* max-height: 82%;    超過此比例即用卷軸 */
    
    /* overflow-y: auto;  */
}

.pop.active{
    transform: translate(-50%,-50%) scale(1);     /*將div置中，這裡的50%是div的長寬50%，而不是螢幕 */
}

#overlay{
  position: fixed;
  transition: 200ms ease-in-out;
  opacity:0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.65);
  pointer-events: none;   /*當overlay沒啟動，可以按東西 */
}

#overlay.active{
  pointer-events: all;
  z-index: 9;
  opacity: 1;
}

.pop-header{
    margin-top: 2.4%;
    margin-right: 3%;
    margin-left: 93%;
    margin-bottom: 0%;
}

.pop-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: #545454;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    border-radius: 15%;
}

.pop-body{
    display:flex;
}

#openpop{
    font-size: 1.25rem;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.submit{
    position: relative;
    right: 0px;
    float: right;
    margin: 15px 0px 10px 20px;
    z-index: 8;
  }

  .submit button{
    padding: 3px 40px;
    color: #ffffff;
    background-color: #545454;
    height:50px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px gray;
    font: 600 25px 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .submit button#cancel_btn{
      margin-right: 20px;
  }

  .submit button:hover{
    background-color: #757575;
  }
  
  @keyframes submit_button{
    from{background-color: #545454;}
    to{background-color: #757575;}
  }

  .submit button:active{
    animation-name: submit_button;
    animation-duration: 0.5s;
    top: -47px;
    box-shadow: none;
    transition-duration: 0.05s;
  }

#photo_box{
    float: left;
    width: 43%;
    margin-left:50px;
    margin-right:15px;
    margin-bottom: 5%;
}

#photo_div{
  transform: scale(0.8);
}


#photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#photo{
  height:80%;
}


#info{
    float: left;
    width: 57%;
    margin-right:10%;
    margin-left:15px;
    margin-bottom: 8%;
    margin-top: 5%;
    transform: scale(1.2);
}


.group{
  position: relative;
  padding:20px;
  padding-left: 40px;
}


.group label{
  font: 600 25px 'Open Sans', sans-serif;
  display: block;
  margin-top: 11px;
}

.group input, .group textarea{
	display: block;
  width: 400px;
  height: 81px;
  margin: 5px 0px 20px 10px;
	padding: 15px 20px;	
  border: none;
	border-radius: 10px;
	background-color: #ededed;
}
.group textarea{
  resize: none;
}

.content, .email_class, .account_name_class{
  font-size: 25px;
}

#content{
  margin-top:5%;
}

.upload_pic{
  height:20%;
}


.upload_pic label{
  position: relative;
  display:inline-block;
  left:50%;
  transform: translateX(-50%);
  padding: 15px 45px 15px 45px;
  margin-top: 2%;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #666666;
  font: 600 25px 'Open Sans', sans-serif;
  cursor: pointer;
}
.upload_pic label:hover{
  background-color: #878787;
}
.upload_pic label:active{
  animation-name: upload_button;
  animation-duration: 0.5s;
}
.upload_pic input{
  display: none;
}



