body{
    background-color: #ffffff;
}

.above{
    text-align: right;
    color: #555555;
}

.title{
    position: relative;
    left: 10px;
    width: 80%;
    border-bottom: 3px #545454 solid;
    
    font-size: 18px;
    font-weight: bold;
}

.search{
    position: absolute;
    top: 95px;
    right: 95px;
    width: 30%;
    float: right;
    text-align: left;
}

.introduce{
    position: absolute;
    top: 165px;
    right: 20px;
    width: 13%;

    text-align: left;
    color: #A6A6A6;
    line-height: 1.5em;
}

.upload_button{
    position: absolute;
    bottom: 30px;
    right: 10px;
    text-decoration: none;

    width: 200px;
    height: 40px;
    border: 2px white none;
    background-color: #ffffff;

    font-size: 20px;
    font-weight: bold;
}