/* https://codepen.io/khadkamhn/pen/ZGvPLo?editors=1100 */

body{
	background: #282a35;
	font: 600 16px/18px 'Open Sans',sans-serif;
}

/* menu */
@keyframes click_button_1{
    from {background-color: #dddddd;}
    to {background-color: #ebebeb;}
}
@keyframes click_button_2{
    from {background-color: #dddddd;}
    to {background-color: #F5F5F5;}
}

.menu{
    position: fixed;
    width: 100%;
    height: 52px;
    top: 0px;
    left: 0px;
    z-index: 999;

    background-color: #282a35;
}

.menu a{
    display: inline;
    padding: 17px 20px;
    height: 52px;
    text-decoration: none;
}

.menu_left{
    position: fixed;
    float: left;
    left: 25px;
    cursor: pointer;
    
    text-align: center;
}
.menu_left a{
    font: small-caps bold 17px sans-serif;
    color: #ffffff;
}
.menu_left a:hover {
    background-color: #ebebeb;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_left a:active{
    animation-name: click_button_1;
    animation-duration: 1s;
}

.menu_right{
    position: fixed;
    float: right;
    top: 3px;
    right: 70px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.menu img{
    position: fixed;
    top: 13px;
    right: 40px;
    width: 27px;
    cursor: pointer;
}

.menu_dropdown{
    position: fixed;
    top: 36px;
    right: 5px;

    list-style-type: none;
}
.menu_dropdown a{
    display: none;
    width: 120px;
    height: 25px;

    font: small-caps, Arial, Helvetica bold 17px sans-serif;
    color: #ffffff;
    background-color: #3B3E4F;

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.menu_dropdown a:hover {
    display: inline-block;
    background-color: #F5F5F5;
    color: #000000;
    transition-duration: 0.1s;
}
.menu_dropdown a:active{
    animation-name: click_button_2;
    animation-duration: 1s;
}

#profile_pic{
    position: fixed;
    top: 0px;
    right: 30px;
    width: 47px;
    height: 54px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;

}
#profile_pic:hover + ul>li>a{
    display: inline-block;
}
.menu_dropdown:hover >li>a:not(:hover){
    display: inline-block;
}


/*LogIn*/
.clearfix ::after, .clearfix ::before{
	content: '';
	display: table;
}
.clearfix ::after{
	clear: both;
	display: block;
}
a{
	color: inherit;
	text-decoration: none;
}

@keyframes fadein{
	0% {opacity: 0.2;}
	100% {opacity: 1;}
}
.LogIn_box{
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -275px;
	width: 100%;
	max-width: 500px;
	min-height: 550px;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.5), 0 20px 25px 0 rgba(0,0,0,0.3);
	user-select: none;

	animation: fadein 1s ease-in;
}
.LogIn{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 55px 50px 55px;
	background-color: #f0f0f0;
}
.SignIn_form, .SignUp_form{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	backface-visibility: hidden;
	opacity: 0;
	z-index: 100;
}

.SignIn, .SignUp, 
.LogIn_form .group .check{
	display: none;
}

.tab{
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 30px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
	color: #cccccc;
	cursor: pointer;
}

.SignIn:checked + .tab,
.SignUp:checked + .tab{
	color: #000000;
	border-color: rgba(70,70,70,0.7);
}

.LogIn_form{
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.LogIn_form .group{
	margin-bottom: 15px;
}

.LogIn_form .group .input,
.LogIn_form .group .button{
	display: block;
	border: none;
	margin: auto;
	padding: 15px 20px;
	border-radius: 25px;
	background-color: #D9D9D9;
	font: 600 16px/18px 'Open Sans',sans-serif;
}

.LogIn_form .group .button{
	width: 100%;
	margin-top: 45px;
	color: #ffffff;
	background-color: #4B4E63;
	cursor: pointer;
}
.LogIn_form .group .button:hover{
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
}
@keyframes click_button_3{
    from {background-color: #323442;}
    to {background-color: #4B4E63;}
}
.LogIn_form .group .button:active{
	animation-name: click_button_3;
	animation-duration: 1s;
}
.LogIn_form .group .input{
	width: 92%;
	color: #000000;
}
.LogIn_form .group ::placeholder{
	color: #bababa;
}
.LogIn_form .group input[data-type="password"]{
	text-security: circle;
	-webkit-text-security: circle;
}

.LogIn_form .group .label{
	color: #000000;
	font-size: 14px;
}

.LogIn_form .group label .icon{
	width: 15px;
	height: 17px;
	border-radius: 3px;
	position: relative;
	display: inline-block;
	background-color: #d9d9d9;
}
.LogIn_form .group label .icon::before,
.LogIn_form .group label .icon::after{
	content: '';
	width: 10px;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	transition: all .2s ease-in-out 0s;
}
.LogIn_form .group label .icon::before{
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}
.LogIn_form .group label .icon::after{
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}
.LogIn_form .group .check:checked + label{
	color: #000000;
}
.LogIn_form .group .check:checked + label .icon{
	background-color: #4B4E63;
}
.LogIn_form .group .check:checked + label .icon::before{
	transform: scale(1) rotate(45deg);
}
.LogIn_form .group .check:checked + label .icon::after{
	transform: scale(1) rotate(-45deg);
}

.LogIn .SignIn:checked + .tab + .SignUp + .tab + .LogIn_form .SignIn_form{
	opacity: 1;
	transition-duration: 0.5s;
	z-index: 300;
}
.LogIn .SignUp:checked + .tab + .LogIn_form .SignUp_form{
	opacity: 1;
	transition-duration: 0.5s;
	z-index: 300;
}

.hr{
	height: 2px;
	margin: 45px 0 30px 0;
	background-color: rgba(70,70,70,0.5);
}

.below{
	text-align: center;
}
.below a{
	cursor: pointer;
}